<!-- <h1>Avaliacao da tradução <%= @review.service_title %></h1> -->

<%= simple_form_for [@review, @evaluation] do |f|%>

  <%= f.input :content %>
  <%= f.input :stars %>

  <%= f.submit "Enviar", class: 'btn btn-primary' %>

<% end %>
