<%= javascript_include_tag Ckeditor.cdn_url%>
<br>
<h1 class="formtitle">Sugestão de Revisão</h1>

<%= simple_form_for ([@submitted, @translated]) do |f| %>
  <h6 class="formlabel">Nome do serviço:</h6>
    <%= f.input :service_title, input_html: { value: @submitted.service_title }, label: false%>
  <h6 class="formlabel">O que é?</h6>
    <%= f.input :service, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, value: @submitted.service }%>
  <h6 class="formlabel">Público-alvo:</h6>
    <%= f.input :target_public, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, value: @submitted.target_public }%>
  <h6 class="formlabel">Etapas do serviço:</h6>
    <%= f.input :service_stages, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, value: @submitted.service_stages } %>
  <h6 class="formlabel">Mais informações:</h6>
  <%= f.input :more_info, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, value: @submitted.more_info } %>
  <div class="rascunho">
    <%=f.input :draft, label: false%>
    <div class="remember">Rascunho</div>
  </div>
    <div class="explanation">Deixe marcado se você deseja salvar o texto como rascunho para voltar a trabalhar nele posteriormente. Ele aparecerá na sua página, mas não aparecerá como sugestão para o editor que postou o texto original.</div>
  <br>
    <%= f.submit "Salvar Texto", :class => "btn-solicitar conforto"%>
<% end %>
