<%= javascript_include_tag Ckeditor.cdn_url%>
<h1>Texto a ser traduzido</h1>

<%= simple_form_for ([@submitted, @translated]) do |f| %>
  <%= f.input :service_title, label: 'Nome do serviço:'%>
  <%= f.input :service, label: 'Serviço:', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
  <%= f.input :target_public, label: 'Público alvo:', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
  <%= f.input :service_stages, label: 'Etapas do serviço:', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  <%= f.input :more_info, label: 'Mais informações:', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  <%= f.submit "Enviar minha sugestão de revisão", :class => "photobtn main_button" %>
<% end %>
