<h1 style="color:#1b4332 !important"><%=@review.service_title%></h1>
<br>
<div class="container">
<a style="text-decoration:none !important" data-toggle="collapse" href="#oQueE" role="button" aria-expanded="false" aria-controls="oQueE"><h3 class="rev-subtitle">☰  O que é?</h3></a>
<div class="rev-parttext collapse" id="oQueE">
  <%if @review.service == @original.service%>
    <div style="opacity:0.3"><%=@original.service.html_safe%></div>
  <%elsif @review.service == ""%>
    <%@review.service = @original.service%>
    <div style="opacity:0.3"><%=@original.service.html_safe%></div>
  <%else%>
  <div><%=@review.service.html_safe%></div>
<%end%>
</div>

<a style="text-decoration:none !important" data-toggle="collapse" href="#publico" role="button" aria-expanded="false" aria-controls="publico"><h3 class="rev-subtitle">☰  Quem pode utilizar o serviço?</h3></a>
<div class="rev-parttext collapse" id="publico">
 <%if @review.target_public == @original.target_public%>
    <div style="opacity:0.3"><%=@original.target_public.html_safe%></div>
  <%elsif @review.target_public == ""%>
    <%@review.target_public = @original.target_public%>
    <div style="opacity:0.3"><%=@original.target_public.html_safe%></div>
  <%else%>
  <div><%=@review.target_public.html_safe%></div>
<%end%>
</div>


<a style="text-decoration:none !important" data-toggle="collapse" href="#etapas" role="button" aria-expanded="false" aria-controls="etapas"><h3 class="rev-subtitle">☰  Etapas do Serviço</h3></a>
<div class="rev-parttext collapse" id="etapas">
<%if @review.service_stages == @original.service_stages%>
    <div style="opacity:0.3"><%=@original.service_stages.html_safe%></div>
  <%elsif @review.service_stages == ""%>
    <%@review.service_stages = @original.service_stages%>
    <div style="opacity:0.3"><%=@original.service_stages.html_safe%></div>
  <%else%>
  <div><%=@review.service_stages.html_safe%></div>
<%end%>
</div>

<a style="text-decoration:none !important" data-toggle="collapse" href="#minfo" role="button" aria-expanded="false" aria-controls="minfo"><h3 class="rev-subtitle">☰  Outras Informações</h3></a>
<div class="rev-parttext collapse" id="minfo">
<%if @review.more_info == @original.more_info%>
    <div style="opacity:0.3"><%=@original.more_info.html_safe%></div>
  <%elsif @review.more_info == ""%>
    <%@review.more_info = @original.more_info%>
    <div style="opacity:0.3"><%=@original.more_info.html_safe%></div>
  <%else%>
  <div><%=@review.more_info.html_safe%></div>
<%end%>
</div>

<%if user_signed_in? && @review.user_id == current_user.id%>
  <%= link_to 'Editar sugestão', edit_submitted_text_translated_text_path(@review), class: 'btn-solicitar pequeno conforto spaced'%>
  <%= link_to 'Apagar sugestão', "#{@review.id}", method: :delete, data: { confirm: 'Tem certeza que quer apagar este texto?' }, class: "btn-apagar pequeno conforto spaced" %>
<%end%>

<%@evaluations = Evaluation.all.select { |eval| eval.translated_text_id == @review.id}%>
<%if user_signed_in? && @evaluations != nil%>
  <%@mine_evaluations = @evaluations.select { |evaluation| evaluation.user_id == current_user.id} %>
<%end%>

  <%if user_signed_in? && current_user.id == @review.submitted_text.user_id%>
    <a href="<%="/submitted_texts/#{@original.id}"%>"><button class="btn-solicitar conforto" onclick="<%@original.service_title = @review.service_title%>;<%@original.service = @review.service%>;<%@original.target_public = @review.target_public%>;<%@original.service_stages = @review.service_stages%>;<%@original.more_info = @review.more_info%>;<%@review.choosen_translat = true%>;<%@review.save%><%@original.save%>">Acatar Sugestão</button></a>
  <%end%>

    <%if user_signed_in? && @mine_evaluations.size < 1 && @review.user_id != current_user.id%>
    <div class="row">
      <div class="col-4">
        <br>
        <br>
      <%=render "evaluations/new",original: @original, review: @review, evaluation: Evaluation.new%>
      </div>
    </div>
    <%end%>
<br>
<br>
  <%@star = '★'%>
  <%@sum = 0%>
  <%@media = 0%>
<%if @evaluations != nil%>
  <%@evaluations.each { |x| @sum += x.stars}%>
  <%if @sum > 0%>
  <%@media = (@sum/(@evaluations.size if @evaluations.size > 0)).round%>
  <%end%>
  <%end%>
  <%if @evaluations != nil%>
  <%if @media > 0%>
<div class="row justify-content-center">
  <div class="col-4"></div>
<div class="col-4">
<div class="eval">
  <h4 class="evaltitle">Média de avaliações:</h4>
  <h5 class="stars"><%=(@star * @media)%></h5>
  <%end%>
</div>
</div>
<div class="col-4"></div>
</div>
<br>
<br>
<div class="row">
<%@evaluations.each do |evaluation|%>
<div class="col-3">
  <div class="eval">
<h5 class="evaltitle"><%=evaluation.user.name%></h5>
<h6 class="stars"><%=@star * evaluation.stars.to_i%></h6>
<p style="text-align:center"><%=evaluation.content.capitalize%></p>
<p style="text-align:center"><%= format_date(evaluation.created_at) %></p>
</div>
</div>
<%end%>
</div>
<%end%>
</div>
