<h1><%=@review.service_title%></h1>
<br>
<h3>O que é?</h3>
  <%if @review.service == @original.service%>
    <div style="opacity:0.3"><%=@original.service%></div>
  <%elsif @review.service == ""%>
    <%@review.service = @original.service%>
    <div style="opacity:0.3"><%=@original.service%></div>
  <%else%>
  <div><%=@review.service%></div>
<%end%>

<h3>Quem pode utilizar o serviço?</h3>
 <%if @review.target_public == @original.target_public%>
    <div style="opacity:0.3"><%=@original.target_public%></div>
  <%elsif @review.target_public == ""%>
    <%@review.target_public = @original.target_public%>
    <div style="opacity:0.3"><%=@original.target_public%></div>
  <%else%>
  <div><%=@review.target_public%></div>
<%end%>

<h3>Etapas do Serviço</h3>
<%if @review.service_stages == @original.service_stages%>
    <div style="opacity:0.3"><%=@original.service_stages%></div>
  <%elsif @review.service_stages == ""%>
    <%@review.service_stages = @original.service_stages%>
    <div style="opacity:0.3"><%=@original.service_stages%></div>
  <%else%>
  <div><%=@review.service_stages%></div>
<%end%>

<h3>Mais Informações</h3>
<%if @review.more_info == @original.more_info%>
    <div style="opacity:0.3"><%=@original.more_info%></div>
  <%elsif @review.more_info == ""%>
    <%@review.more_info = @original.more_info%>
    <div style="opacity:0.3"><%=@original.more_info%></div>
  <%else%>
  <div><%=@review.more_info%></div>
<%end%>

<a href="<%="/submitted_texts/#{@original.id}"%>"><button onclick="<%@original.service = @review.service%>;
<%@original.target_public = @review.target_public%>;
<%@original.service_stages = @review.service_stages%>;
<%@original.more_info = @review.more_info%>;
<%@original.save%>">Salvar</button></a>

<%= link_to 'Apagar sugestão', @translated, method: :delete, data: { confirm: 'Tem certeza que quer excluir?' } %>

<%if @evaluations != nil%>
<h2>Avaliações da sugestão</h2>
<%@evaluations.each do |evaluation|%>
<%=evaluation.stars%>
<%=evaluation.content%>
<%end%>
<%end%>
