<div class="navbar-bra">
      <div class="newlogo">
       <a href="/"><span style="color:#2864AE">B</span>
       <span style="color:#FABD30">r</span>
       <span style="color:#54AD45">a</span>
       <span style="color:#2864AE">s</span>
       <span style="color:#FABD30">i</span>
       <span style="color:#54AD45">l</span>
       <span style="color:#2864AE">e</span>
       <span style="color:#FABD30">i</span>
       <span style="color:#54AD45">r</span>
       <span style="color:#2864AE">ê</span>
       <span style="color:#FABD30">s</span></a>
      </div>
      <div class="search">
        <div>
          <%= form_tag submitted_texts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control srccamp",
          placeholder: "Encontre um texto"
        %>
      </div>
      <div>
        <%= submit_tag "Buscar", class: "btn btn-primary src" %>
      <% end %>
    </div>
      </div>
      <div class="btn btn-primary src">
        <%= link_to "Veja como funciona", example_path %>
      </div>
      <div class="btn btn-primary src">
        <%= link_to "Sign up", new_registration_path(resource_name) %>
      </div>
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%=image_tag 'user.png', class: 'avatar'%>
            </a>
          <div id="downcase" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Minha Página', mypage_url, class: "dropdown-item" %>
              <%if user_signed_in? && current_user.is_writer == true%>
                <%= link_to 'Enviar um texto', new_submitted_text_path, class: "dropdown-item" %>
              <%end%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%=image_tag 'user.png', class: 'avatar'%>
            </a>
          <div id="downcase" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "dropdown-item" %>             
          </div>
        </div>                         
      <% end %>
  </div>
