<div class="navbar-bra">
      <div class="newlogo">
        <%@pop = image_tag 'logo.png'%>
        <%= link_to @pop, submitted_texts_url, class: "nav-link" %>
      </div>
      <div class="search">
        <div>
          <%= form_tag submitted_texts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control srccamp",
          placeholder: "Encontre um texto"
        %>
      </div>
      <div>
        <%= submit_tag "Buscar", class: "btn btn-primary src" %>
      <% end %>
    </div>
      </div>
      <div class="nav-item">
        <%= link_to "Veja alguns exemplos", example_path %>
      </div>
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%=image_tag 'user.png', class: 'avatar'%>
            </a>
          <div id="downcase" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Minha Página', mypage_url, class: "dropdown-item" %>
              <%if user_signed_in? && current_user.is_writer == true%>
                <%= link_to 'Enviar um texto', new_submitted_text_path, class: "dropdown-item" %>
              <%end%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
  </div>
