<div class="container">
  <h1><%=@review.service_title%></h1>
  <br>
  <div class="service">
    <a style="text-decoration:none !important" data-toggle="collapse" href="#oQueE" role="button" aria-expanded="false" aria-controls="oQueE">
      <h2 class="titlecamp big">O que é?</h2>
    </a>
    <div class="collapse" id="oQueE">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt original">Versão Original</h3>
          <div class="camptext original">
            <%=@original.service.html_safe%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt sugestao">Sugestão</h3>
          <div class="camptext sugestao">
            <%if @review.service == "" || @review.service == @original.service%>
              <div class="noalter">Sem alterações</div>
            <%else%>
              <%=@review.service.html_safe%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tpublic">
    <a style="text-decoration:none !important" data-toggle="collapse" href="#quempode" role="button" aria-expanded="false" aria-controls="quempode">
      <h2 class="titlecamp big">Quem pode utilizar o serviço?</h2>
    </a>
    <div class="collapse" id="quempode">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt original">Versão Original</h3>
          <div class="camptext original">
            <%=@original.target_public.html_safe%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt sugestao">Sugestão</h3>
          <div class="camptext sugestao">
            <%if @review.target_public == "" || @review.target_public == @original.target_public%>
              <div class="noalter">Sem alterações</div>
            <%else%>
              <%=@review.target_public.html_safe%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="svstages">
    <a style="text-decoration:none !important" data-toggle="collapse" href="#etapa" role="button" aria-expanded="false" aria-controls="etapa">
      <h2 class="titlecamp big">Etapas do Serviço</h2>
    </a>
    <div class="collapse" id="etapa">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt original">Versão Original</h3>
          <div class="camptext original">
            <%=@original.service_stages.html_safe%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt sugestao">Sugestão</h3>
          <div class="camptext sugestao">
            <%if @review.service_stages == "" || @review.service_stages == @original.service_stages%>
              <div class="noalter">Sem alterações</div>
            <%else%>
              <%=@review.service_stages.html_safe%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moinfo">
    <a style="text-decoration:none !important" data-toggle="collapse" href="#minfo" role="button" aria-expanded="false" aria-controls="minfo">
      <h2 class="titlecamp big">Mais Informações</h2>
    </a>
    <div class="collapse" id="minfo">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt original">Versão Original</h3>
          <div class="camptext original">
            <%=@original.more_info.html_safe%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="subtlt sugestao">Sugestão</h3>
          <div class="camptext sugestao">
            <%if @review.more_info == "" || @review.more_info == @original.more_info%>
              <div class="noalter">Sem alterações</div>
            <%else%>
              <div><%=@review.more_info.html_safe%></div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acbutton">
    <%if user_signed_in? && current_user.id == @review.submitted_text.user_id%>
      <%= link_to 'Acatar Sugestão', "/confirm?id=#{@review.id}", class: 'btn-solicitar conforto main'%>
    <%end%>
  </div>
  <br>
</div>
