<div class='dashdark'>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="dashscore">
        <h6>Quantidade de rascunhos:</h6>
        <div class="dashnumber"><%=@mydraft.size%></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="dashscore">
        <h6>Quantidade de sugestões postadas:</h6>
        <div class="dashnumber"><%=@myposted.size%></div>
      </div>
    </div>
    <%if @accepted.size > 0%>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashscore">
          <h6>Quantidade de sugestões aceitas:</h6>
          <div class="dashnumber"><%=@accepted.size%></div>
        </div>
      </div>
    <%end%>
  </div>
  <br>

  <div class="row">
    <%@mytranslated.each do |text|%>
      <div class="col-xs-12 col-sm-6 col-md-4 justify-content-center">
        <a href=<%="submitted_texts/#{text.submitted_text_id}/translated_texts/#{text.id}"%>>
        <div class="dashcard">
          <%if text.draft == true%>
          <div class="topsign draft">Rascunho</div>
          <%elsif text.choosen_translat == true%>
            <div class="topsign accepted">Adotada</div>
          <%else%>
          <div class="topsign posted">Postada</div>
          <%end%>
          <h5 class="dashtitle"><%=text.service_title.truncate(45)%></h5>
          <div class="dashcontent">
            <p><%=text.service.truncate(100).html_safe%></p>
          </div>
          <div class="dashrevi">
            <p><strong>Revisão do texto:</strong></p>
            <p><a class="dashlink" href=<%="submitted_texts/#{text.submitted_text_id}"%>><%=text.submitted_text.service_title.truncate(45)%></a></p>
          </div>
          <div class="dashsuge">
            <p><strong>Sugerido em:</strong></p>
            <p class="dashdate"><%=format_date(text.created_at)%></p>
          </div>
        </div>
        </a>
      </div>
    <%end%>
  </div>
</div>
</div>

<div class="container">
  <%if current_user.is_writer == true%>
    <div class="dashscore">
      <h6>Quantidade de textos postados:</h6>
        <div class="dashnumber"><%=@mysubmitted.size%></div>
    </div>
  <br>
    <div class="row">
      <%@mysubmitted.each do |text|%>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href=<%="submitted_texts/#{text.id}"%>>
          <div class="dashcard">
            <h5 class="dashtitle"><%=text.service_title.truncate(45)%></h5>
            <div class="dashcontent">
              <p><%=text.service.truncate(100).html_safe%></p>
              <p><strong>Sugestões até:</strong></p>
              <p class="dashdate"><%=format_date(text.deadline)%></p>
            </div>
          </div>
          </a>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
