<h1>Log in</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <h3 class="formlabel">seu e-mail:</h3>
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" } %>
    <h3 class="formlabel">seu password:</h3>
    <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn-solicitar pequeno conforto' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
