<div class="bannerbra">
<h1 class="fst">Mais clareza, mais cidadania.</h1>
<h1 class="scd">Simples assim.</h1>
</div>
<div class="pseudobar">
<div class="greetings">
  <%if user_signed_in?%>
    Olá <span style="font-weight:800"><%="#{current_user.name.truncate_words(1).gsub('.','')}"%></span>, bem vindo!
  <%else%>
    Olá visitante!
  <%end%>
</div>
        <div class="search">
        <div>
          <%= form_tag submitted_texts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control srccamp",
          placeholder: "Encontre um texto"
        %>
      </div>
      <div>
        <%= submit_tag "🔍", class: 'srcbtn'%>
      <% end %>
    </div>
      </div>
</div>
<%if user_signed_in? && current_user.is_writer == true%>
<div class="linkshome">
  <%= link_to 'Quero submeter um texto', new_submitted_text_path, class: "links" %>
</div>
<%end%>
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div id="submitted">
      <% if @submitteds != nil %>
        <div class="row">
          <% @submitteds.each do |submitted| %>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <a href=<%="/submitted_texts/#{submitted.id}"%>>
                <div class="card">
                <div class="iconbox"><i class='fas fa-file-alt'></i></div>
                  <h6 class="cardtitle">Sugestões até:</h6>
                  <h6 class="datecard"><%=format_date(submitted.deadline)%></h6>
                  <h5 class="card_servtitle"><%=submitted.service_title.truncate(45).strip.gsub('.','')%></h5>

                <div class="cardcontent">
                  <p><%=submitted.service.truncate(160).html_safe%></p>

                </div>
                <div class="cardlinks">
                    <%if user_signed_in?%>
                      <%if submitted.user_id == current_user.id %>
                        <h6><%= link_to 'Apagar o texto', submitted, method: :delete, data: { confirm: 'Tem certeza que quer apagar este texto?' }, class: "redlink" %></h6>
                      <%end%>
                    <%end%>
                </div>
              </div>
            </a>
          </div>
          <%end%>
        <%end%>
      </div>
    </div>
    </div>
  </div>
</div>
