
<div class="container">
  <p>Hello, teste</p>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="submitted">
      <%= form_tag submitted_texts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Encontre um texto"
        %>
        <%= submit_tag "Procurar texto", class: "btn btn-primary" %>
      <% end %>
        <% @submitteds.each do |submitted| %>
          <h2><%= submitted.service_title %></h2>
          <h3><%= submitted.service %></h3>
          <h4><%= submitted.deadline %></h4>
          <%= link_to 'Apagar', submitted, method: :delete, data: { confirm: 'Tem certeza que quer apagar esta solicitação?' } %>

        <%end%>

      </div>
    <%= link_to 'Solicitar tradução', new_submitted_text_path %>
    </div>
  </div>
</div
