<%= javascript_include_tag Ckeditor.cdn_url%>
<br>
<h1 class="formtitle">Texto a ser traduzido</h1>
<div class="container">
<%= simple_form_for @submitted do |f| %>
    <div class="boxform">
  <div class="row">
<div class="col-xs-12 col-md-6">
  <h6 class="formlabel fc">Instituição:</h6>
    <%= f.input :institution, label: false, input_html: {class: 'formcampbig'}%>
</div>
<div class="col-xs-12 col-md-6">
  <h6 class="formlabel fc">Link do serviço no gov.br:</h6>
    <%= f.input :url, label: false, input_html: {class: 'formcampbig'}%>
</div>
</div>
</div>
  <h6 class="formlabel fc">Nome do serviço:</h6>
    <%= f.input :service_title, label: false%>
  <h6 class="formlabel">O que é?</h6>
    <%= f.input :service, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
  <h6 class="formlabel">Público-alvo:</h6>
    <%= f.input :target_public, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
  <h6 class="formlabel">Etapas do serviço:</h6>
    <%= f.input :service_stages, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  <h6 class="formlabel">Mais informações:</h6>
    <%= f.input :more_info, label: false, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  <h6 class="formlabel">Prazo:</h6>
    <%= f.input :deadline, input_html: { value: Date.today+7, class: 'formcampmd' }, label: false, as: :date, html5: true %>
    <%= f.submit "Pedir Sugestões", :class => "btn-solicitar conforto" %>
<% end %>
</div>
