<h1><%=@text.service_title%></h1>
<br>
<h3>O que é?</h3>
<div>
  <%=@text.service%>
</div>

<h3>Quem pode utilizar o serviço?</h3>
<div>
  <%=@text.target_public%>
</div>

<h3>Etapas do Serviço</h3>
<div>
  <%=@text.service_stages%>
</div>

<h3>Mais Informações</h3>
<div>
  <%=@text.more_info%>
</div>

<%if user_signed_in?%>
  <%if current_user.id == @text.user.id %>
    <a class="btn btn-primary" href="#">Editar texto</a>
  <%else%>
    <a class="btn btn-primary" href="#">Sugerir revisão</a>
  <%end%>
<%end%>


<%if @reviews != nil%>
<h2>Revisões sugeridas</h2>
<%@reviews.each do |review|%>
  <a href="#"><h4><%=@review.user_id.name%></h4>
  <p><%%=@review.service%></p></a>
  <%end%>
<%end%>
