<!DOCTYPE html>
<html>
  <head>
    <title>Projetofinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <style id="google-anti-flicker-css">.async-hide { opacity: 0 !important} </style><script id="google-anti-flicker-js">(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date; 
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')}; 
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; 
})(window,document.documentElement,'async-hide','dataLayer',4000, 
{'GTM-NHZSKTD':true});</script><script id="google-tag-manager">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NHZSKTD');</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    
        <base href="https://www.gov.br/pt-br/pagina-inicial/" /><!--[if lt IE 7]></base><![endif]-->
    

    
        <meta property="og:title" content="Governo Federal - Governo do Brasil." />
<meta property="og:description" content="O gov.br reúne, em um só lugar, serviços para o cidadão e informações sobre a atuação de todas as áreas do governo." />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.gov.br/pt-br/pagina-inicial" />
<meta property="og:image" content="https://www.gov.br/logo.png" />

<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="Governo do Brasil" />


  

  
  
  <script>
    (function() {
        var po = document.createElement('script');
        po.async = true;
        po.src = document.location.protocol + '//connect.facebook.net/pt_BR/all.js#xfbml=1';
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(po);
    }());
    </script>



  

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@" />
  




<meta name="description" content="O gov.br reúne, em um só lugar, serviços para o cidadão e informações sobre a atuação de todas as áreas do governo." />
<meta property="creator.productor" content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/26" />



  
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/reset-cachekey-7204aaee5cb077faf1b1ba5ee02c1623.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/base-cachekey-c5a3697d4e3108b441652ba469f5ba87.css" />
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourceplone.app.jquerytools.dateinput-cachekey-a98cbdddffa44ea7e5f4c11640853dd6.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/resourceplone.formwidget.datetimestyles-cachekey-e194eb5d8f78910f98f68c29742491e2.css" />
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcecollective.nitfnitf-cachekey-1cf3e182def7a24e61e5fe61e8805ab1.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/ploneCustom.css" media="all" />
        <!--[if lt IE 8]>    
    
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/IEFixes-cachekey-5a722cdadfbaecde5142bf5ac75ca130.css" media="screen" />
        <![endif]-->
    
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcecollective.z3cform.datagridfielddatagridfield-cachekey-6e67cfd96aa28ac8c814b39a4aa964f1.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/resourcegovbr.policycanais-cachekey-e326c3fd3ab8094f5919f5d4835043f7.css" media="screen" />
    <style type="text/css" media="all">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcepas.plugins.loginunicologinunico-cachekey-dd035ec66580cb18aeda0e101394383f.css);</style>

  
  
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.app.jquery-cachekey-d91b142726bfe0be95e1f4f78d00f8bd.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/collective.js.jqueryui.custom.min-cachekey-f3111cd8eef32c12a746d33f00f2501f.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/register_function-cachekey-32c65c741af6d7bc9b04f5da2e88451b.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/inline_validation-cachekey-a935292bdb564aadb74a302854d0d190.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/kss-bbb-cachekey-b5a22e98aab1ace1f0a1b961483dca79.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.formwidget.recurrencejquery.tmpl-beta1-cachekey-0604178d3afa0b7519d228c4319d726c.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.js.bootstrapjsbootstrap.min-cachekey-b1726ca496c0afd056d53d5168f9cfdb.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.coverjsmain-cachekey-697a353a9769d1665c539bdfb1df1b25.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcebrasil.gov.tilesvendorjquery.jplayer.min-cachekey-dd914e59334477f4e8d75ef736a4901f.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcedropdown-menu-cachekey-01ed3da87f9e565296e7113900dc7e94.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.z3cform.datagridfielddatagridfield-cachekey-9bb654cc2ffa00870ce0a0871d8aab18.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcegovbr.portaljsgaleria-de-aplicativos-cachekey-fbd2a43a5616cab49b1ce23f8ff20011.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/themegovbr.servicosjsservico-cachekey-ef742df16f68148d7dcf0b7a33569254.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-720c34e.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-720c34e.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.portal/brasilgovportal-b9966f9.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.portal/brasilgovportal-b9966f9.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-7d5753d.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-7d5753d.js"></script>



<title>Governo Federal - Governo do Brasil. — Português (Brasil)</title>

<link rel="http://purl.org/dc/terms/subject http://schema.org/about http://xmlns.com/foaf/0.1/primaryTopic" href="http://vocab.e.gov.br/2011/03/vcge#esquema" />
        
    <link rel="author" href="https://www.gov.br/pt-br/author/padrao" title="Informações do Autor" />


    <link rel="canonical" href="https://www.gov.br/pt-br" />

    
    


<script type="text/javascript">
        jQuery(function($){
            if (typeof($.datepicker) != "undefined"){
              $.datepicker.setDefaults(
                jQuery.extend($.datepicker.regional['pt-BR'],
                {dateFormat: 'dd/mm/yy'}));
            }
        });
        </script>




    <link rel="search" href="https://www.gov.br/pt-br/@@search" title="Buscar neste site" />



        
        
        
  

        
        

        
        <meta name="generator" content="Plone - http://plone.org" />
    

    <meta charset="utf-8" />
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180" href="/++theme++padrao_govbr/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/++theme++padrao_govbr/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/++theme++padrao_govbr/favicons/favicon-16x16.png" />
    <link rel="mask-icon" href="/++theme++padrao_govbr/favicons/safari-pinned-tab.svg" color="#00a300" />
    <meta name="msapplication-config" content="favicons/browserconfig.xml" />
    <meta name="theme-color" content="#00a300" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" crossorigin="anonymous" />
    <script src="https://www.youtube.com/iframe_api"></script>
  <link href="/++theme++padrao_govbr/govbrtheme-41fed54.css" rel="stylesheet" />

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <p>Now is <%= Time.now %><p>
    <p>A very simple footer</p>
    
    <%= link_to "Exemplos", example_path %>
  </body>
</html>
